<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment 2</title>
    <link rel="stylesheet" href="css/style.css">
    <script>
        function checkForm(){
            if(document.getElementById('GameTitle').value == ""){
                event.preventDefault();
                document.getElementById('err').innerHTML = "Please enter a game to proceed"
            }
        }
    </script>
</head>
<body>
    <div id="container">
        <h1>Welcome to the Game Entry page</h1>
        <nav>
            <a href="#">Game Entry</a>
            <a href="gamelist.html">Game List</a>
        </nav>
        <form action="/saveGame" method="POST" onsubmit="return checkForm()">
            <span id="err" style="color:red"></span>
            <br>
            <label for="game">Enter Game Title Here</label>
            <br>
            <input type="text" name="game" id="GameTitle">
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>