<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Server Example</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="container"> 
        <h1>Welcome, bitchass</h1>
        <nav>
            <a href="#">Home</a>
            <a href="about.html">About</a>
            <a href="contact.html">Contact</a>
        </nav>
        <img src="images/buyDogeCoin.jpg" alt="its not a meme anymore" width=400>

        <div style="width:400px">
            <p>Lorem ipsum</p>
        </div>
    </div>
</body>
</body>

</html>