<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Server Example</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="container"> 
        <h1>Ronny Rosario</h1>
        <nav>
            <a href="#">Home</a>
            <a href="login.html">Login</a>
            <a href="entries.html">Add entries</a>
        </nav>
        <img src="images/buyDogeCoin.jpg" alt="its not a meme anymore" width=400>

        <div style="width:400px">
            <h1>10 Things I like (in an ordered list)</h1>
    
    <li>Ten things I like
        <ol>1. Videogames</ol>
        <ol>2. Money</ol>
        <ol>3. Anime</ol>
        <ol>4. Making videogames</ol>
        <ol>5. Going outside (bet ya did not expect that one)</ol>
        <ol>6. Playing soccer</ol>
        <ol>7. Biking</ol>
        <ol>8. Jolly Rangers Soft Bytes (good shit)</ol>
        <ol>9. Breathing</ol>
        <ol>10. There is no number 10. That's all</ol>
    </li>
</body>
</body>

</html>